/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* GLOBAL STYLES */
.nav-center {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0em 1em;
}

.page-center {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 100px 1em;
}

a {
  text-decoration: none;
  color: #000;
}

/* BODY */
body {
  background-color: #f5f5f5;
  position: relative;
}

/* NAVBAR */
.nav {
  height: 55px;
  background-color: #fff;
  position: fixed;
  /* z-index: 1; */
  right: 0;
  left: 0;
}

/* CLASSES */
